:root {
    --primary: #2c64bf;
    --text: #000;
    --bg: #F0F0F0;
    --muted: #555;
    --border: #2c64bf;
    --highlight: lightblue;
}

html.dark {
    --primary: #f2564b;
    --text: #f5f5f5;
    --bg: #444444;
    --muted: #bdbdbd;
    --border: #f2564b;
    --highlight: #f5aca6;
}

body {
    font-family: "Charter", serif;
    background: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 0 20px;
    line-height: 1.4;
    transition: background 0.3s ease, color 0.3s ease;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 50px 0;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 15px;
}

header h1 {
    font-size: 54px;
    margin-bottom: 8px;
    color: var(--primary);
}


.contact {
    font-size: 15px;
}

.contact span {
    margin: 0 8px;
    display: inline-block;
}

a {
    color: var(--text);
    text-decoration: none;
}

/* Sections */
section {
    margin-top: 25px;
}

section h2 {
    color: var(--primary);
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: bold;
}


section h3 {
    font-size: 22px;
    margin-top: 1px;
    margin-bottom: 2px;
    font-weight: bold;
}

section hr {
    border: none;
    border-top: 2px solid var(--border);
    margin-bottom: 12px;
}

/* Two column entries */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.date {
    text-align: right;
    min-width: 140px;
    font-size: 14px;
}

/* Bullets */
ul {
    padding-left: 18px;
    margin-top: 6px;
}

ul li {
    margin-bottom: 4px;
}

mark {
    background-color: var(--highlight);
}


/* Dark mode toggle button */
.toggle-btn {
    position: fixed;
    right: 100px;
    top: 25px;
    background: transparent;
    border: 2px solid var(--text);
    color: var(--text);
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.toggle-btn:hover {
    opacity: 0.7;
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
        align-items: flex-start;
    }

    .date { text-align: left; margin-top: 4px; }
    header h1 { font-size: 32px; }
}